* {
  box-sizing: border-box;
}

body {
  margin: 100px;
}

.container {
  border: 5px solid red;
  background-color: silver;
  width: 1010px;
  display: flex;
  flex-direction: row;
}

[class*="group"] {
  height: 250px;
}

.group1 {
  background-color: gold;
  flex: 0 1 100px;
}
.group2 {
  background-color: aqua;
  flex: 0 1 100px;
}
.group3 {
  background-color: lightgreen;
  flex: 0 1 100px;
  order: -1;
}
